@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    position: fixed;
    background: black;
    padding: 20px;
    width: 100%;
    height: 30px;
}
.left h3{
    color: gray;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 800;
}
.left span{
    color: gray;
}
.sair_btn{
    padding: 5px;
    background: gray;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: 0.5s;
    
}
.sair_btn:hover{
    background: gray;
}
.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    margin-top: 70px;
    padding-top: 30px;
    left: 0;
    background: black;
    transition: 0.5s;
    transition-property: left;
}
.sidebar .image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.sidebar h2{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}
.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}
.sidebar a:hover{
    background: gray;
}
.sidebar ion-icon{
    padding-right: 15px;
}
label #sidebar_btn{
    z-index: 1;
    position: fixed;
    left: 300px;
    color: #fff;
    font-size: 25px;
    margin: px 0;
    cursor: pointer;
    transition: 0.5s;
    transition-property:color ;
}
label #sidebar_btn:hover{
    color: gray;
}
.meio{
    background-color: black;
    position: absolute;
    top: 10%;
    left: 20%;
    padding: 10px;   
}
.button{
    width: 304px;
    height: 40px;
    background-color: gray;
    border:none;
    color:  white;
    margin: 10px 0;
    cursor: pointer;
    /*sombra*/
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
    }
.text-input{
    width:300px;
    background: transparent;
}
.posicao{
    position: absolute;
    top:20%;
    left: 45%;
    background-color: transparent;
    padding: 10px;
}
.position{
    position: absolute;
    top:20%;
    left: 42%;
    background-color: transparent;
    padding: 10px;
}
.botao{
    width: 100%;
    height: 40px;
    background-color: gray;
    border:none;
    color:  white;
    margin: 10px 25;
    cursor: pointer;
    /*sombra*/
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
}
.area-texto{
    display: flex;
    flex-direction: column;
    padding:15px 10;
    background: transparent;
}
.base{
    position: absolute;
    top:20%;
    left: 55%;
    background-color: transparent;
    padding: 10px;
}
